html{
    font-size: 26.67vw;
}
body,html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    position: relative;
}
li{
    list-style: none;
}
#box{
    flex: 1;
    overflow: auto;
}
/* 头部 */
#head{
    width: 100%;
}
.head_con{
    width: 3.43rem;
    height: auto;
    background: wheat;
    margin: 0 auto;
    font-size: 0.12rem;
    box-sizing: border-box;
    padding: 0.15rem;
}
.head_con p{
    margin: 0;
}

/* 主体 */
#main{
    width: 100%;
}
.main_con{
    width: 3.43rem;
    height: auto;
    margin: 0 auto;
    /* background: chocolate; */
    /* box-sizing: border-box;
    padding: 0.15rem; */
}
.main_li{
    width: 100%;
    height: 2.4rem;
    background: lightblue;
    box-sizing: border-box;
    padding: 0.15rem;
    border-radius:0.04rem;
    margin-top: 0.16rem;
}
.main_li_tit{
    font-size: 0.16rem;
    font-weight: bold;
    margin: 0 0 0.1rem 0;
}
.main_li_time{
    font-size: 0.1rem;
    color: #969696;
    margin: 0 0 0.1rem 0
}
.main_li_level{
    width: 0.79rem;
    height: 0.2rem;
    border-radius: 0.04rem;
    color: #BE8360;
    background: #FFF5F4;
    border: 0.005rem solid #FBEFE9;
    font-size: 0.1rem;
    text-align: center;
    line-height: 0.2rem;
}
.main_li_teacher{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 0.005rem solid #ccc;
    margin-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.main_teacher_main{
    float: left;
    margin-right: 0.3rem;
}
.teacherPic{
    width: 0.34rem;
    height: 0.34rem;
    background: khaki;
    border-radius: 50%;
    float: left;
}
.teacherName{
    font-size: 0.1rem;
    float: left;
    margin-left: 0.1rem;
}
.teacherName p{
    margin: 0;
}
.teacherName p:nth-of-type(2){
    color: #999999 !important;
}

.subject_foot_img{
    width: 0.375em;
    height: 0.375rem;
    background: darkgoldenrod;
    border-radius: 50%;
    float: left;
    margin-left: 0.16rem;
    margin-top: 0.18rem;
}
.subject_price{
    float: right;
}
.originPrice{
    height: 0.375rem;
    font-size: 0.1rem;
    color: #CACACA;
    float: left;
    text-decoration: line-through;
    margin: 0.17rem 0.06rem 0 0;
}
.price{
    height: 0.375rem;
    font-size: 0.2rem;
    color: #FF4359;
    float: left;
    margin-right: 0.15rem;
    margin: 0.1rem 0 0 0;
}

/* 底部 footer */
#foot{
    width: 100%;
    height: 0.5rem;
    background: #A2A2A2;
    display: flex;
    justify-content: space-around;
}
#foot li{
    width: 0.4rem;
    height: 0.4rem;
    background: skyblue;
    float: left;
    font-size: 0.15rem;
    text-align: center;
}